/* start your css here */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border: 1px solid black;
    background-color: rgb(4, 0, 23);
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    width:30%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
}
form>div{
    width: 100%;
}
h2{
    margin: 0%;
}
caption p{
    font-size:140%;
}
.inputs {
    padding: 5%;
    width: 91%;
}
.main{
    display: flex;
    justify-content: space-between;
}
.terms{
    width: 85%;
}
input[type="checkbox"]{
   height: 30px;
   width: 30px;
}
a{
    color: white;
    font-style: italic;
    font-size: 90%;
}
span{
    font-style: italic;
    font-size: 90%;
}
#btn{
    text-align: center;
}

button{
    border: 2px solid white;
    color: white;
    background-color: rgb(4, 0, 23);
    padding: 2% 13%;
    font-size: 100%;
    cursor: pointer;
}