/* start your styling here  */
.Mycontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.data>h1,.data>h5{
    color: rgb(78, 47, 47);
}
.data{
    width: 70%;
}
#Mytblid{
    width: 100%;
}
#Mytblid>table{
    width: 100%;
}