/* start your css here */
.strip{
    border: 1px solid black;
    margin: auto;
    width: 1000px;
    background-color: #260150;
}
.options{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Voot , .icons{
    color: white;
}

.op{
    color: rgb(155, 155, 155);
}