/* start your styling here  */
.container{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn_class{
    display: flex;
    justify-content: space-between;
    width: 32%;
}
.my_btn_class button{
    border-radius:0px ;
}